* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 68.5%;
  /* font-family: ; */
  /* font-family: "Courier New", Courier, monospace; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --background-color-1: #e0e2e5;
  --background-color-2: #e6e6e6;
  --primary-color: #5c5c5c;
  --secondary-color: #39cccc;
  --tertiary-color: #288f8f;
  --fourth-color: #000;
  --option-input: #fff;
  --option-border: rgba(40, 143, 143, 0.3);
  --filler-color: #bfdddd;
}
body {
  background-color: var(--background-color-1);
}

.container {
  width: 130rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* --------------------------------------------Login
  Page-------------------------------------- */
.login-form {
  background-color: var(--option-input);
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.close-btn {
  position: absolute;
  right: 41.4rem;
  top: 19.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.close-btn:hover {
  background-color: var(--secondary-color);
}

.username {
  width: 85%;
  padding: 0.7rem 0.7rem 0.7rem 3.5rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  border: 0.06rem solid var(--filler-color);
  background: url("../images/user.png") no-repeat left center;
  background-size: 3.5rem;
}

.password {
  width: 85%;
  padding: 0.7rem 0.7rem 0.7rem 3.5rem;
  margin-bottom: 1.2rem;
  border-radius: 0.4rem;
  border: 0.06rem solid var(--filler-color);
  background: url("../images/password.png") no-repeat left center;
  background-size: 1.6rem;
  background-position: 0.7rem;
}

input:hover {
  border: 0.08rem solid;
}

.login {
  width: 95%;
  padding: 0.7rem;
  background-color: var(--tertiary-color);
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

.login:hover {
  background-color: var(--secondary-color);
}

.signup {
  width: 25%;
  padding: 5px;
  background-color: var(--option-input);
  color: var(--tertiary-color);
  border: 1.5px solid var(--tertiary-color);
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

.signup:hover {
  background-color: var(--secondary-color);
}

.btn-separator {
  width: 100%;
  text-align: center;
  margin: 20px 20px 20px 0;
  border-bottom: 1px solid #e0e0e0;
  line-height: 0.1rem;
  font-weight: 300;
}

.btn-separator span {
  padding: 10px;
  background: var(--option-input);
  color: #606060;
  font-size: 12px;
}

/* --------------------------------------------Signup
  Page-------------------------------------- */
.signup-form {
  background-color: var(--option-input);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid var(--background-color-1);
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--tertiary-color);
  color: var(--option-input);
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: var(--tertiary-color);
}

.login-link {
  margin-top: 20px;
  font-size: 14px;
}

.login-link a {
  color: #0095ff;
  text-decoration: none;
}

.upload {
  width: 100px;
  position: relative;
  margin: auto auto 20px auto;
}

.upload img {
  border-radius: 50%;
  border: 3px solid var(--secondary-color);
}

.upload .round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00b4ff;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type="file"] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}
