* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 68.5%;
  /* font-family: ; */
  /* font-family: "Courier New", Courier, monospace; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --background-color-1: #e0e2e5;
  --background-color-2: #e6e6e6;
  --primary-color: #5c5c5c;
  --secondary-color: #39cccc;
  --tertiary-color: #288f8f;
  --fourth-color: #000;
  --option-input: #fff;
  --option-border: rgba(40, 143, 143, 0.3);
  --filler-color: #bfdddd;
}
body {
  background-color: var(--background-color-1);
}
/*----------------------------------Header--------------------------*/

/*----------------------------------Navigation--------------------------*/
nav {
  width: 100%;
  background-color: var(--background-color-1);
  padding-top: 0.5rem;
}
.navigation {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  /* gap: 67rem; */
  color: var(--primary-color);
  /* background-color: aqua; */
  position: relative;
}
/*----------------------------------Left Navigation--------------------------*/
.nav_left {
  display: flex;
  font-size: 2.3rem;
  gap: 4rem;
  align-items: center;
  /* order: -1; */
}
.logo_text {
  position: relative;
  /* margin-top: 0.5rem; */
  margin-right: 12rem;
  width: 10rem;
}
.cs_text {
  color: var(--fourth-color);
  position: absolute;
  top: 2.2rem;
  width: 20rem;
  margin-left: 1rem;
}
.cs_text .color_diff {
  color: var(--secondary-color);
}
.cs_logo {
  width: 6.5rem;
  height: 6.5rem;
}
.hover_effect {
  /* border-bottom: 2px solid black; */
  padding-bottom: 0.3rem;
  cursor: pointer;
  transition: all 0.1s;
  /* trans */
}
.hover_effect:hover {
  border-bottom: 1px solid var(--tertiary-color);
}
/*----------------------------------Right Navigation--------------------------*/
.nav_right {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* flex-wrap: wrap; */
  /* order: 1; */
}
.user_dp_section {
  display: flex;
}
.user_dp {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
}
.user_dp_section svg {
  color: var(--primary-color);
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.2rem;
  margin-top: 0.8rem;
  cursor: pointer;
}
.bulb {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 4rem;
  cursor: pointer;
}
.notification {
  /* padding-top: 1.5rem; */
  margin-right: 4rem;
  cursor: pointer;
}
.notification svg {
  width: 3.5rem;
  height: 3.5rem;
}

/*-----------------------------------------main page--------------------------------*/

main {
  padding: 0 2rem 2rem 2rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.title-section,
.code-section,
.description-section,
.output-section {
  margin: 0.6rem;
}

h3 {
  margin: 0.6rem;
}

.post-details {
  margin: 0.6rem;
  background-color: var(--option-input);
  padding: 1.2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
}

.title-section {
  color: var(--fourth-color);
}

.language_logo img {
  width: 5%;
  height: 5%;
  margin-top: -3rem;
  margin-left: 97rem;
  border-radius: 50%;
}

/* ---------------------------code-section---------------------- */

.code-section {
  color: var(--fourth-color);
}

pre {
  margin: 1.2rem;
  background-color: var(--background-color-2);
  padding: auto;
  overflow-x: auto;
}

.code-language {
  font-family: monospace;
  font-size: 1.5rem;
}

.code-box {
  position: relative;
  background-color: var(--secondary-color);
  top: -1.2rem;
  height: 3.5rem;
}

.copy-button {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  padding: 0.3rem 0.9rem;
  background-color: var(--secondary-color);
  border: none;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

/* ----------------------------description-section--------------------- */
.description-section {
  color: var(--fourth-color);
}

.description {
  font-size: 1.4rem;
  margin: 1.3rem 1.3rem 1.3rem 2.5rem;
}

/* -------------------------------output-section------------------------ */
.output-section {
  color: var(--fourth-color);
}

.output {
  font-size: 1.3rem;
  font-family: monospace;
}

/*--------------------------------------Footer--------------------*/
footer {
  background-color: var(--background-color-2);
  width: 100%;
  color: var(--fourth-color);
  /* height: 2rem; */
}
.foot {
  display: flex;
  width: 50%;
  margin: 0 auto;
  gap: 10rem;
  margin-bottom: 1rem;
  /* justify-content: flex-end; */
}
.contact_info {
  display: flex;
  gap: 2rem;
  /* cursor: pointer; */
}
.footer_info {
  cursor: pointer;
}
.footer_info:hover {
  border-bottom: 2px solid var(--fourth-color);
}
.foot .country {
  align-self: flex-end;
  /* justify-content: space-between; */
}

/* ----------------------------Comment and voting section-------------- */
/* Styles for Voting Buttons */
.voting-comment-section {
  display: flex;
}

.voting-comment-section button {
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

#up-logo,
#down-logo,
#comment-logo {
  height: 1.5rem;
  width: 1.5rem;
}

/*------------------------------------Style for admin view page---------------- */
.voting-comment-section .admin-review {
  margin-left: 2rem;
}

.voting-comment-section .admin-user-review {
  margin-left: 87rem;
}

.review input[type="submit"] {
  margin-top: 0.5rem;
  padding: 0.5rem 0.7rem;
  background-color: var(--secondary-color);
  color: #ffff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 0.6rem;
}

.review input[type="submit"]:hover {
  background-color: var(--tertiary-color);
}
